header {
    display        : flex;
    justify-content: space-between;
    border-bottom  : 1px solid var(--primari_color);
    position       : relative;
    width: 100%;
    /* overflow    : hidden; */

    nav {
        @media (max-width: 900px) {
            display: none;
        }
    }

    .mobil_menu_btn {
        margin : 10px;
        z-index: 2;

        @media (min-width: 900px) {
            display: none;
        }

        display        : flex;
        flex-direction : column;
        justify-content: space-around;

        .line {
            width        : 25px;
            height       : 3px;
            border-radius: 2px;
            background: var(--primari_color);
            margin       : 3px;
            border       : 1px solid var(--primari_color);
            transition   : .2s;
            z-index: 3;
            
        }

        &.open {
            .line {
                background: red;
            }
            .l1 {
                transform: translateY(11px) rotate(45deg);
            }

            .l2 {
                opacity: 0;
            }

            .l3 {
                transform: translateY(-11px) rotate(-45deg);
            }
        }
    }
}

.mobil_menu_content {
    position  : absolute;
    height    : 100vh;
    width     : 100vw;
    top       : -100vh;
    background: var(--primari_color);
    transition: .2s;

    &.open {
        top: 0;
        @media (min-width:900px) {
            top: -100vh;
        }
    }

}