header {
    box-sizing: border-box;
   
    border-bottom  : 1px solid var(--primary_color);
    position       : fixed;
    background-color: white;
    width          : 100vw;
    /* width          : calc(100vw - 100px); */
    /* max-width: 1000px; */
    padding: 0 50px;
    height: 70px;
    .header_content {
        width          : calc(100% - 40px);
        display        : flex;
        justify-content: space-between;
        padding        : 20px;
    }
    &.shadow {
        box-shadow: 0 0 15px 2px var(--secondary_color3);
    }

    nav.desctop_menu {
        a{
            margin: 0 5px;
        }
        @media (max-width: 900px) {
            display: none;
        }
    }

    .mobil_menu_btn {
        z-index: 2;

        @media (min-width: 900px) {
            display: none;
        }

        display        : flex;
        flex-direction : column;
        justify-content: space-around;

        .line {
            width        : 25px;
            height       : 3px;
            border-radius: 2px;
            background   : var(--primary_color);
            margin       : 3px;
            border       : 1px solid var(--primary_color);
            transition   : .2s;
            z-index      : 3;
            box-sizing   : border-box;

        }

        &.open {
            .line {
                background: red;
            }

            .l1 {
                transform: translateY(9px) rotate(45deg);
            }

            .l2 {
                opacity: 0;
            }

            .l3 {
                transform: translateY(-9px) rotate(-45deg);
            }
        }
    }
}

