
@import url('/css/fonts.css');
@import url('/css/variable.css');
@import url('/css/nomalize.css');
@import url('/css/header.css');
@import url('/css/mobil_menu.css');
@import url('/css/main.css');
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto;

    /* max-width: 1000px; */
    /* margin: 0 auto; */
    /* padding: 0 50px; */
}