main {
    flex-grow : 1;
    transition: 1s;

    .section {
        border-bottom    : 1px solid var(--primary_color);
        scroll-margin-top: 70px;
        padding          : 0 10px;

        display: flex;

        .primary_block,
        .secondary_block {
            display       : flex;
            flex-direction: column;

            p {
                margin: 0 0 5px 0;
            }
        }

        .primary_block {
            
            width: calc(100% / 3);
            &.hello {
                width: calc(100% / 2); 
            }   
            
            padding-right: 10px;
            h1,h2 {
                margin-top: 10px;
            }
        }
        
        
        
        .secondary_block {

            width         : calc(100% / 3 * 2);

           &.hello {
                width: calc(100% / 2); 
            } 

            display       : flex;
            &:not(.education){

                flex-direction: row;
                flex-wrap     : wrap;
            }
            margin-top: 20px;

            &>div.skills_block {
                width: 50%;

            }

            p {
                margin-bottom: 10px;
            }

            @media (max-width: 768px) {
                flex-direction: column;

                &>div.skills_block {
                    width: 100%;

                }
            }
        }

        @media (max-width: 500px) {
            flex-direction: column;

            .primary_block,
            .secondary_block {
                width: 100%;
            }
        }
    }
    
    #hello {
        margin-top: 70px;
    }
    #education {
        details {
            padding: 10px 0;
            h3 {
                display: inline;
            }
        }
    }

}





/* .radio_block {
    position: fixed;

    #radio_btn {
        position     : relative;
        width        : 40px;
        height       : 40px;
        border-radius: 50%;

        img {
            position  : absolute;
            transition: .3s;

            width : 20px;
            height: 20px;

            &#img_play {
                left   : 9px;
                top    : 8px;
                opacity: 1;
            }

            &#img_pause {
                left   : 7px;
                top    : 8px;
                opacity: 0;
            }
        }

    }
    #radio_volume {
        transform: rotate(-90deg);
        width: 38px;
        position: absolute;
        bottom: 10px;
        box-sizing: border-box;
    }
    audio {
        display: none;
    }
} */