.mobil_menu_content {
    position       : absolute;
    height         : 100vh;
    width          : inherit;
    top            : -100vh;
    background     : var(--primary_color);
    transition     : .2s;
    display        : flex;
    justify-content: center;
    align-items    : center;
	opacity: 0;

    .mobil_menu {
        width     : fit-content;
        text-align: center;
    }

    a {
        display: block;
        color  : white;
    }

    &.open {
		opacity: 1;
        top: 0;
        @media (min-width:900px) {
            top: -100vh;
        }
    }

}